APScheduler==3.6.3
asgiref==3.2.3
astroid==2.3.3
bytedlogger==0.2.0
certifi==2019.11.28
chardet==3.0.4
chronos-python==0.34.0
coreapi==2.3.3
coreschema==0.0.4
cssselect==1.1.0
Django==3.0.2
graypy==0.3.2
httplib2==0.15.0
idna==2.8
isort==4.3.21
itypes==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
lxml==4.4.2
markdown2==2.3.8
MarkupSafe==1.1.1
mccabe==0.6.1
mysqlclient==1.4.6
openapi-codec==1.3.2
Pillow==7.0.0
pylint==2.4.4
PyMySQL==0.9.3
pyquery==1.4.1
pytz==2019.3
pyutil==3.3.0
requests==2.22.0
sentry-sdk==0.9.0
simplejson==3.17.0
six==1.13.0
sqlparse==0.3.0
tzlocal==2.0.0
uritemplate==3.0.1
urllib3==1.25.7
wrapt==1.11.2
